body {
    padding: 2em;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
  }
  
  h1 {
    text-align: center;
    color: #343a40;
    margin-bottom: 1em;
  }
  
  form {
    max-width: 600px;
    margin: auto;
  }
  
  .form-control {
    border-radius: 10px;
  }
  
  .btn-primary {
    border-radius: 0;
    background-color: #343a40;
    border-color: #343a40;
  }
  
  .btn-primary:hover {
    background-color: #23272b;
    border-color: #23272b;
  }
  p{
    color: rgb(187, 24, 24);
  }